{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "chrome": "65",
          "firefox": "60"
        }
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
